
.webpagedivseg.showContent{
	background-image: url(/img/pop0.png);
	background-repeat: no-repeat;
	background-position: left top;
  background-size: 100% 100%;
	visibility: visible;
	display:none;
}

.webpagedivseg {
	display: none;
	width: 100%;
	height: 100%;
	position: relative;
	background: none;
}

#webpagediv0 {
	position: relative;
	width: inherit;
	overflow: hidden;
}

.welcometxt {
  font-size: 4vw;
	color: #0989df;
	font-weight: bold;
	left: 20%;
	position: absolute;
	top: 50%;
}


.welcometxt1 {
  font-size: 3vw;
	color: #0989df;
	font-weight: bold;
	left: 10%;
	position: absolute;
	top: 2%;
}
.articleDescription {
  color: #ef6f00;
  font-size: 5vw;
  position: absolute;
	left: 20%;
	top: 28%;
}


.welcometxtAni {
	animation-name: welcometxtAni;
}

@keyframes welcometxtAni { 0%{	top: 50%;}

100%{top:2%;}
}
.notes span {
	display: block;
}

.notesAni {
	animation-delay: 1s;
	animation-name: flipInX;
}

  .green-container {
      bottom: -28%;
      left: -8%;
      position: absolute;
    .green {
      width: 100%;
    }
  }

$break-small: 320px;
$break-large: 640px;

.green-container, .blue-container {
  visibility: hidden;
} 
@media screen and (min-width: $break-large) {   
  .green-container { 
      visibility: visible;
    bottom: -88px;
    left: -73px;
      position: absolute;
  }
  .blue-container {
    visibility: visible;
    top: -83px;
    right: -30px;
    position: absolute;
  }
  .phone-container {
    width: 50%;
    top: 5%;
  }
}
.phone-container {
  width: 40%;
  top: 10%;
  position: absolute;
  height: auto;
}

  .phone1 {
    position: relative;
    display: block;
    width: 100%;
    height: 80%;
   // padding-top: 25px;
  }
.text-container {
   left: 37%;
      top: 15%;
      position: absolute;
      width: 90%;
      margin-right: 5%;
      padding-right: 5%;
      font-size: 2vw;
    .stepNum {
      position: relative;
      color: #ef6f00;
      font-size: 5vw;
    }
    .text {
      margin-right: 30%;
      padding-top: 15px;
      position: relative;
    }
    .notes {
      margin-right: 30%;
      padding-top: 20px;
      position: relative;
    }
}
@media screen and (min-width: $break-large) {  
  .text-container {
      left: 37%;
      position: absolute;
  }
}




.atttvideoimg {
	width: 100%;
	height: 100%;
}


