
      <div id="webpagediv0" class="webpagedivseg" style="display: block;">
      </div>

      <div id="webpagediv1" class="webpagedivseg">

        <div class="welcometxt animate">{{data.frames[0].articleName}}</div>
      </div>

      <div id="webpagediv2" class="webpagedivseg">

        <div class="welcometxt animate">{{data.frames[0].articleName}}</div>
        <div class="articleDescription" [innerHTML]="data.frames[1].articleDescription"></div>
        <div class="green-container" >
          <img class="animate green" src="img/green.png" >
        </div>
        <div class="blue-container">
          <img class="animate blue" src="img/bluecircle.png">
        </div>
      </div>

      <div class="webpagedivseg" [attr.id]="'webpagediv'+(i+1)" *ngFor="#step of data.frames ; #i = index">
        <div class="welcometxt1 animate">{{data.frames[0].articleName}}</div>
        <div class="phone-container">
          <img class="animate phone1" src="https://www.att.com/devicehowtomedia/image/{{step.imageLocation}}">
        </div>
        <div class="text-container">
          <div class="stepNum hd1">
            Step - {{step.stepOrder}}
          </div>
          <div class="text" *ngIf="step.stepContent" [innerHTML]="step.stepContent"></div>
          <div class="notes" open="_blank" *ngIf="step.stepNote" [innerHTML]="step.stepNote">
          </div>
        </div>
        <div class="green-container" >
          <img class="animate green" src="img/green.png" >
        </div>
        <div class="blue-container">
          <img class="animate blue" src="img/bluecircle.png">
        </div>
      </div>