<div class="sixteen-nine">
  <div id="videoViewport">


      <div id="webpagediv0" class="webpagedivseg" style="display: block;">
      </div>

      <div id="webpagediv1" class="webpagedivseg">

        <div class="welcometxt animate">{{data.articleName}}</div>
      </div>

      <div id="webpagediv2" class="webpagedivseg">

        <div class="welcometxt animate">{{data.articleName}}</div>
        <div class="articleDescription">{{data.articleDescription}}</div>
        <div class="green-container" >
          <img class="animate green" src="img/green.png" >
        </div>
        <div class="blue-container">
          <img class="animate blue" src="img/bluecircle.png">
        </div>
      </div>

      <div class="webpagedivseg" [attr.id]="'webpagediv'+(i+3)" *ngFor="#step of data.steps.step ; #i = index">
        <div class="welcometxt1 animate">{{data.articleName}}</div>
        <div class="phone-container">
          <img class="animate phone1" src="https://www.att.com/devicehowtomedia/image/{{step.imageLocation}}">
        </div>
        <div class="text-container">
          <div class="stepNum hd1">
            Step - {{step.stepOrder}}
          </div>
          <div class="text" [innerHTML]="step.stepContent"></div>
          <div class="notes" open="_blank" *ngIf="step.stepNote" [innerHTML]="step.stepNote">
          </div>
        </div>
        <div class="green-container" >
          <img class="animate green" src="img/green.png" >
        </div>
        <div class="blue-container">
          <img class="animate blue" src="img/bluecircle.png">
        </div>
      </div>

    <section id="overlay" *ngIf="contents">
      <ul>
        <li *ngFor="#step of data.steps.step ; #i = index" style=""> 
          Step {{step.stepOrder}} 
        </li>
      </ul>
    </section>

    <section id="cc" *ngIf="cc">
      <h1>Here is closed caption text.</h1>
    </section>

    <section id="sizes" *ngIf="sizes">
      <button royal (click)="resize('fullscreen')">
        <ion-icon name="ios-desktop"></ion-icon>
      </button>

      <button royal (click)="resize('halfscreen')">
        <ion-icon name="ios-laptop-outline"></ion-icon>
      </button>

      <button royal (click)="resize('phone')">
        <ion-icon name="ios-phone-landscape-outline"></ion-icon>
      </button>

      <button royal (click)="resize('small')">
        <ion-icon name="ios-phone-portrait-outline"></ion-icon>
      </button>
    </section>

    <ion-toolbar position="bottom" id="smart-bar">

      <input id="scrubber" (change)="scrub($event)" type="range" [min]="0" max="{{v.duration}}" [value]="scrubber">

      <ion-buttons begin>
        <button royal (click)="contents=!contents">
          <ion-icon name="list" *ngIf="!steps"></ion-icon>
        </button>
        <button royal (click)="play(!playing)">
      <ion-icon name="play" *ngIf="!playing"></ion-icon>
      <ion-icon name="pause" *ngIf="playing"></ion-icon>
      {{minutes(v.currentTime)+':'+seconds(v.currentTime)}}/{{minutes(v.duration)+':'+seconds(v.duration)}} {{size}}
    </button>
      </ion-buttons>

      <ion-buttons end>
        <button royal (click)="cc=!cc">
          <ion-icon name="ios-closed-captioning"></ion-icon>
        </button>
        <button royal (click)="sizes=!sizes">
      <ion-icon name="ios-expand"></ion-icon>
    </button>
      </ion-buttons>
    </ion-toolbar>

    <audio id="ourvideo" controls="controls" height="1px">
						<source src="interactive_1500001197/output.wav">
					</audio>
  </div>
</div>